* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f6f8ff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
}

.top-center {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.jared-image {
  width: 180px;
  height: auto;
}
